<a href="https://colab.research.google.com/github/Mardonylima/atividades-da-facul-de-ADSpython/blob/main/aulasDePython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# um simples print 
print (" olá, mundo")

In [ ]:
# programa pra saber a nota de um aluno
# com quebra de linha
n1 = float(input("digite uma a primeira nota: "))
n2 = float(input("digite uma a segunda nota: "))
n3 = float(input("digite uma a terceira nota: "))

soma = ((n1 + n2 + n3) /3)


print("sua primeira nota é :",n1)
print("sua segunda nota é : ",n2)
print("sua terceira nota é :",n3)
print("e sua média é :" ,soma)

In [ ]:
# programa pra saber a nota de um aluno
# tudo na mesma linha usando o format
n1 = float(input("digite uma a primeira nota: "))
n2 = float(input("digite uma a segunda nota: "))
n3 = float(input("digite uma a terceira nota: "))

soma = ((n1 + n2 + n3) /3)

print("sua primeira nota é : {}, sua segunda nota é :{} , sua terceira nota é :{} e sua medía é:  ,{}" .format(n1 , n2 , n3, soma))

In [ ]:
# programa pra saber a nota de um aluno
# tudo na mesma linha usando o format mas com codições 
# if (para aprovado) e else (para reprovado) 
n1 = float(input("digite uma a primeira nota: "))
n2 = float(input("digite uma a segunda nota: "))
n3 = float(input("digite uma a terceira nota: "))

soma = ((n1 + n2 + n3) /3)

print("sua primeira nota é : {}, sua segunda nota é :{} , sua terceira nota é :{} e sua medía é:  ,{}" .format(n1 , n2 , n3, soma))

if(soma >=7):
  print("aprovado")
else:
    print("reprovado")

In [ ]:
# programa pra saber a nota de um aluno
# tudo na mesma linha usando o format mas com codições 
# if (para aprovado), elif (para recuperação) e else (para reprovado) 
n1 = float(input("digite uma a primeira nota: "))
n2 = float(input("digite uma a segunda nota: "))
n3 = float(input("digite uma a terceira nota: "))

soma = ((n1 + n2 + n3) / 3)

print(
    "sua primeira nota é : {}, sua segunda nota é :{} , sua terceira nota é :{} e sua medía é:  ,{}".format(n1, n2, n3, soma))

if (soma >= 7):
    print("aprovado")

elif (soma >= 4 and soma < 7):
    print("recuperação")

else:
    print("reprovado")

In [18]:
# fazer uma lista de números
num = ["1", "4", "3", "6", "9"]

In [20]:
len("num")

3

In [21]:
alunos = ["maria" , "julia" , "pablo" , "daniel" , "vitor" ]

In [22]:
alunos [3] = "mardony"

In [23]:
alunos.append('alex')
alunos

['maria', 'julia', 'pablo', 'mardony', 'vitor', 'alex']

In [25]:
alunos.append(input('informe seu nome: '))
alunos

informe seu nome: zé

['maria', 'julia', 'pablo', 'mardony', 'vitor', 'alex', 'mardony', 'zé']

In [29]:
nome = input(' vamos ver se seu nome esta na lista ')

if nome in alunos :
    print('esse aluno {}, esta nossa lista'.format(nome))
else : 
    print('nao tem esse aluno {} na nossa lista'.format(nome))

 vamos ver se seu nome esta na lista zé
esse aluno zé, esta nossa lista

In [30]:
# programa pra mostrar todos os numeros numa lista. (o range() vai até 15)
numeros = []
for num in range(15):
  numeros.append(num)
numeros

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [31]:
# programa pra mostrar o dodro 
dobro = []
for num in numeros:
  dobro.append(num * 2) 
dobro

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [32]:
# programa pra mostra todos os numeros pares na lista 'numeros[]'. (o range() vai até 15)
for num in numeros:
  if numeros[num] % 2 == 0: 
    print(numeros[num])

0
2
4
6
8
10
12
14

In [42]:
# criar um programa que lista os números de 1 a 10 para esto, precisaremos de um contador

cont = 1
numeros = []

while (cont <= 10):
    numeros.append(cont)
    cont += 1

numeros

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [35]:
#programa pra saber quantos alunos foram aprovados e reprovados 
n1 = float(input('digite sua nota: '))
n2 = float(input('digite sua nota: '))
n3 = float(input('digite sua nota: '))
n4 = float(input('digite sua nota: '))

notas = [n1, n2, n3, n4]

aprovado = 0
reprovado = 0
for nota in notas:
    if (nota >= 7):
        aprovado += 1
    else:
        reprovado += 1

print('aprovado', aprovado)
print('reprovado', reprovado)

digite sua nota: 9
digite sua nota: 9
digite sua nota: 5
digite sua nota: 7
aprovado 3
reprovado 1

In [47]:
# modifique o codigo anterior para solicitar um tamanho da lista a e com o laço while
# crie a nova lista do tamanho desejado


tamanho = int(input("Digite o tamanho da lista: "))

cont = 1

numeros = []

while cont <= tamanho:
    numeros.append(cont)
    cont += 1


num

Digite o tamanho da lista: 9

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# par ou impar
num = int(input('digite um numero: '))

while (num >= 0):
    if (num % 2 == 0):
        print("é par")
        num = int(input('digite um numero: '))
    else:
        print("é impar")
        num = int(input('digite um numero: '))

print('acabou!!!')

In [48]:
# programa que inicia em 0 e continua até o laço while terminar 
cont = 0

while (cont < 10):
    print(cont + 1)
    cont += 1

1
2
3
4
5
6
7
8
9
10

In [49]:
n1 = int(input('digite um numero inteiro maior que 1!!  '))
cont = 0
while (cont <= n1):
    print(cont)
    cont += 1

digite um numero inteiro maior que 1!!  6
0
1
2
3
4
5
6

In [50]:
# programa que inicia em 0 e conta até o numero escolhido
n1 = 30
cont = 0
while (cont <= n1):
    if (n1 > 1):
        print(cont)
    cont += 1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

In [54]:
 # o código cria uma lista contendo os números de 0 o número digitado pelo usuário até e em seguida calcula a soma desses números.
n1 = int(input('Digite um número: '))
cont = 0
listanumerica = []

while cont < n1:
    listanumerica.append(cont)
    cont += 1

print(sum(listanumerica))

Digite um número: 6
15

In [56]:
# o código calcula a soma de todos os números de 0 até o número digitado pelo usuário, incluindo-o, e imprime o resultado.
n1 = int(input('digite um numero maior que 1!!  '))
cont = 0
soma = 0
while (cont <= n1):
    soma += cont
    cont += 1
print(soma)

digite um numero maior que 1!!  5
15

In [ ]:
# um código de tentativas e erros, se o usuario colocar sua senha 3 vezes erradas a senha é bloqueada
senha = int(input('Digite sua senha: '))
senhacerta = 1234
cont = 1

while (cont < 3):
    cont += 1
    if (senhacerta == senha):
        print('Login feito, parabéns!!!')
        break
    else:
        print('Senha incorreta! Tente novamente.')
        senha = int(input('Digite novamente: '))

if (cont == 3 and senhacerta != senha):
    print('Sua senha foi bloqueada!!!')
else:
    print()

In [ ]:
# código pra adicionar nomes de animais a uma lista, se uma coisa alem de letras entrar no código ele encerra 
animais = []
animal = input('informe mm nome de Animais: ')

while (animal.isdigit() == False):
    animais.append(animal)
    animal = input('digite um nome de animal: ')

animais

In [57]:
# recebe uma lista de mostra o quadrado dos numeros neles
listaNumerica = [1, 2, 4, 8, 16, 32]
nlista= list(map(lambda x: x**2, listaNumerica ))
nlista

[1, 4, 16, 64, 256, 1024]

In [58]:
# contar quantos letra tem nas strings
listaFrutas = ["uva", "maça", "manga", "banana"]
Flista = list(map(lambda x: len(x), listaFrutas))
Flista

[3, 4, 5, 6]

In [59]:
 # pegue um valor e adicione mais 2 reais
 precos = [9.99, 2.50, 3.45, 7.00, 10.99]
 Plista = list(map(lambda x: x+2, precos))
 Plista

[11.99, 4.5, 5.45, 9.0, 12.99]

In [61]:
#quero apenas os aprovados com as notas a cima de 7
notas = [9.2, 5.6, 8.1, 1.9, 10]
listaN = list(filter(lambda x: x>=7, notas))
listaN

[9.2, 8.1, 10]

In [64]:
# funções 
def my_first_function():
  print('minha primeira função')

In [65]:
my_first_function()

minha primeira função

In [68]:
def pronomeTratam(pronome):
  print(pronome + " Mardony")

pronomeTratam('Doutor')
pronomeTratam('Ilmo')
pronomeTratam('Seu')

Doutor Mardony
Ilmo Mardony
Seu Mardony

In [70]:
def tratamNome(pronome, nome):
  print(pronome, nome)

tratamNome('zé','da manga')

zé da manga

In [71]:
def nomeAno(nome, anos):
  idade = 2023 - anos
  print(nome, idade,'anos')

nomeAno('mardony',2003)

mardony 20 anos

In [72]:
def boasVindas(nome, cargo):
  print('Olá, '+ cargo + ' '+ nome)

boasVindas('Amaralina', 'Engenheira')
boasVindas('Jorge', 'Carimbador')
boasVindas('Maria', 'Sargento')
boasVindas('Lucas','')

Olá, Engenheira Amaralina
Olá, Carimbador Jorge
Olá, Sargento Maria
Olá,  Lucas

In [ ]:
def pesoAltura(peso, altura):
  imc = peso / altura ** 2 
  return imc

altura1 = float(input('imforme sua altura: '))
peso1 = float(input('imforme seu peso: '))

pesoAltura(altura1, peso1) <30

In [74]:
def calculo(emprestimo, tempo):
  return  emprestimo *0.025* tempo

emprestimo1 = float(input('qual o valor que você quer: '))
tempo1 = float(input('em qual tempo você vai pagar: '))

calculo(emprestimo1, tempo1)

qual o valor que você quer: 1220
em qual tempo você vai pagar: 5

152.5

In [75]:
def valorTotalEmprestimo(valor, tempo):
  return valor + calculo(valor, tempo)

valorTotalEmprestimo(1000, 12)

1300.0

In [ ]:
# tuplas

In [77]:
# uma tupla
tp_frutas = ('maça', 'banana',  'laranja', 'goiaba')
tp_frutas

('maça', 'banana', 'laranja', 'goiaba')

In [79]:
lst_frutas = list(tp_frutas)
type(lst_frutas)
lst_frutas

['maça', 'banana', 'laranja', 'goiaba']

In [80]:
#fatiamento (Slicing)
tp_meses = ('jan','fev','mar','abr','mai','jun','jul','ago','set','out','nov','dez')
# se quiser apenas os meses de junho a nov
tp_meses[5:11]

('jun', 'jul', 'ago', 'set', 'out', 'nov')

In [81]:
#Usando o processo de fatiamento, crie uma nova tupla apenas com os meses do segundo trimestre (abril - Jun)
tp_meses[3:6]

('abr', 'mai', 'jun')

In [82]:
#Ordenação de dados *sort(value, key = x)
#Ordenar os estados pelo DDD e não pelo nome
uf_cod = [('PE', 81), ('RJ',21), ('SP',11), ('PB',83)]
# O sorted ta organizando do menor para o maior, se eu tivesse colocado
# no X o valor 0 ele ia ordenar por ordem alfabetica.
sorted(uf_cod, key = lambda x : x[1])

[('SP', 11), ('RJ', 21), ('PE', 81), ('PB', 83)]

In [83]:
#Desempacotamento de valores.
def nome_idade_uf():
  nome = "Mardony"
  idade = 20
  uf = 'PB'
  return nome, idade, uf
# aqui posso colocar qualquer coisa, como A, zÉ e ZIGOTO
name, age, uf = nome_idade_uf()

print(name, age, uf)

Mardony 20 PB

In [84]:
#Mapeamento de valores
alunos = ('dolgras', 'zézin', 'mongolão', 'antôin', 'flamingo')
notas = (5.5, 8, 9, 7.5, 6.5)
# O zip é pra colocar duas tuplas na mesma linha. tô colocando o valor 0 de uma ao valor 0 de outro, e assim por diante
mapeamento = tuple(zip(alunos, notas))

mapeamento

(('dolgras', 5.5),
 ('zézin', 8),
 ('mongolão', 9),
 ('antôin', 7.5),
 ('flamingo', 6.5))

In [85]:
# 1- Escreva uma função que receba duas tuplas como entrada e retorne uma única 
# tupla que seja a concatenação das duas
def drogas_preços(tp1, tp2):
  return tp1 + tp2
drogas = ('diamba', 'raio', 'loló')
precos = (120 , 60, 10)

drogas_preços(drogas, precos)

('diamba', 'raio', 'loló', 120, 60, 10)

In [86]:
# 1.1 questao extra.
# atribuir o preços aos produtos.
drogas = ('diamba', 'raio', 'loló')
precos = (120 , 60, 10)

c = tuple(zip(drogas, precos))
c

(('diamba', 120), ('raio', 60), ('loló', 10))

In [87]:
# 2- Escreva uma função que receba uma tupla contendo o nome e endereço contendo,
# logradouro, número e bairro de uma pessoa e retorne uma string formatada.
def formatacao(tupla):
  nome, logradouro, num, bairro = tupla
  return 'Nome:{}, residente a {}, {}, {}.'.format(nome,logradouro,num,bairro)

dadosCliente = ('Manoelina', 'Rua das Couves', '42', 'Torre')

print (formatacao(dadosCliente))

Nome:Manoelina, residente a Rua das Couves, 42, Torre.

In [ ]:
# todos atividades antes do dia 29/05