<a href="https://colab.research.google.com/github/Mardonylima/cursos-de-programa-o-/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# fazer uma lista de n√∫meros

num = ["1", "4", "3", "6", "9"]

In [ ]:
len("num")

In [28]:
alunos = ["maria" , "julia" , "pablo" , "daniel" , "vitor" ]

In [29]:
alunos [3] = "mardony"

In [ ]:
alunos.append('alex')
alunos

In [ ]:
alunos.append(input('informe seu nome: '))
alunos

In [38]:
nome = input(' vamos ver se seu nome esta na lista ')
alunos

 vamos ver se seu nome esta na lista joao

['maria', 'julia', 'pablo', 'mardony', 'vitor', 'alex']

In [39]:
if nome in alunos :
    print('esse aluno {}, esta nossa lista'.format(nome))
else : 
    print('nao tem esse aluno {} na nossa lista'.format(nome))

nao tem esse aluno joao na nossa lista

In [40]:
numeros = []
for num in range(15):
  numeros.append(num)
numeros

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [41]:
dobro = []
for num in numeros:
  dobro.append(num * 2) 
dobro

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [42]:
for num in numeros:
  if numeros[num] % 2 == 0: 
    print(numeros[num])

0
2
4
6
8
10
12
14