<a href="https://colab.research.google.com/github/Mardonylima/atividades-da-facul-de-ADSpython/blob/main/Welcome_To_Colaboratory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#tuplas

In [18]:
# uma tupla
tp_frutas = ('maça', 'banana',  'laranja', 'goiaba')
tp_frutas

('maça', 'banana', 'laranja', 'goiaba')

In [17]:
#
lst_frutas = list(tp_frutas)
type(lst_frutas)
lst_frutas

['maça', 'banana', 'laranja', 'goiaba']

In [11]:
#fatiamento (Slicing)
tp_meses = ('jan','fev','mar','abr','mai','jun','jul','ago','set','out','nov','dez')
# se quiser apenas os meses de junho a nov
tp_meses[5:11]

('jun', 'jul', 'ago', 'set', 'out', 'nov')

In [12]:
#Usando o processo de fatiamento, crie uma nova tupla apenas com os meses do segundo trimestre (abril - Jun)
tp_meses[3:6]

('abr', 'mai', 'jun')

In [16]:
#Ordenação de dados *sort(value, key = x)
#Ordenar os estados pelo DDD e não pelo nome
uf_cod = [('PE', 81), ('RJ',21), ('SP',11), ('PB',83)]
# O sorted ta organizando do menor para o maior, se eu tivesse colocado
# no X o valor 0 ele ia ordenar por ordem alfabetica.
sorted(uf_cod, key = lambda x : x[1])

[('SP', 11), ('RJ', 21), ('PE', 81), ('PB', 83)]

In [21]:
#Desempacotamento de valores.
def nome_idade_uf():
  nome = "Mardony"
  idade = 20
  uf = 'PB'
  return nome, idade, uf
# aqui posso colocar qualquer coisa, como A, zÉ e ZIGOTO
name, age, uf = nome_idade_uf()

print(name, age, uf)

Mardony 20 PB

In [42]:
#Mapeamento de valores
alunos = ('dolgras', 'zézin', 'mongolão', 'antôin', 'flamingo')
notas = (5.5, 8, 9, 7.5, 6.5)
# O zip é pra colocar duas tuplas na mesma linha. tô colocando o valor 0 de uma ao valor 0 de outro, e assim por diante
mapeamento = tuple(zip(alunos, notas))

mapeamento

(('dolgras', 5.5),
 ('zézin', 8),
 ('mongolão', 9),
 ('antôin', 7.5),
 ('flamingo', 6.5))

In [35]:
# 1- Escreva uma função que receba duas tuplas como entrada e retorne uma única 
# tupla que seja a concatenação das duas
def drogas_preços(tp1, tp2):
  return tp1 + tp2
drogas = ('diamba', 'raio', 'loló')
precos = (120 , 60, 10)

drogas_preços(drogas, precos)

('diamba', 'raio', 'loló', 120, 60, 10)

In [38]:
# 1.1 questao extra.
# atribuir o preços aos produtos.
drogas = ('diamba', 'raio', 'loló')
precos = (120 , 60, 10)

c = tuple(zip(drogas, precos))
c

(('diamba', 120), ('raio', 60), ('loló', 10))

In [41]:
# 2- Escreva uma função que receba uma tupla contendo o nome e endereço contendo,
# logradouro, número e bairro de uma pessoa e retorne uma string formatada.
def formatacao(tupla):
  nome, logradouro, num, bairro = tupla
  return 'Nome:{}, residente a {}, {}, {}.'.format(nome,logradouro,num,bairro)

dadosCliente = ('Manoelina', 'Rua das Couves', '42', 'Torre')

print (formatacao(dadosCliente))

Nome:Manoelina, residente a Rua das Couves, 42, Torre.

In [ ]:
# 3- Escreva uma função que receba uma lista de tuplas contendo
# nome e idade de pessoas e retorne a lista ordenada por idade.